.loginPage {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: auto;
}

.loginPageTitle {
    color: black;
    font-size: 4rem;
    margin: 25px;
}

.loginForm {
    width: 100%;
    max-width: 500px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passwordInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: inherit;
  }
  
.showHideButton {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    padding: 2px;
  }

.loginButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loginButtons h3 {
    color: black;
    margin: 10px;
}

.loginButtons button:last-child {
    margin-top: 0;
}

.signInButton {
    width: 100%;
    padding: 20px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    font-size: x-large;
    margin-top: 30px;
}

.otherOptions h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
