.formInputWrapper {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formLabel {
    margin: 0px 0px 0px 10px;
    top: 0;
    left: 0;
}

.formInput {
    padding: 20px;
    margin: 6px 0px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px black solid;
    color: black;
}