/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/formInput/formInput.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.formInput_formInputWrapper__s4spU {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formInput_formLabel__9wEex {
    margin: 0px 0px 0px 10px;
    top: 0;
    left: 0;
}

.formInput_formInput__AyxMy {
    padding: 20px;
    margin: 6px 0px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px black solid;
    color: black;
    font-size: x-large;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/login/login-page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.login-page_loginPage__IU_8y {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: auto;
}

.login-page_loginPageTitle__haXAH {
    color: black;
    font-size: 4rem;
    margin: 25px;
}

.login-page_loginForm__k75ys {
    width: 100%;
    max-width: 500px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page_passwordInputWrapper__kwqlN {
    position: relative;
    display: flex;
    align-items: center;
    width: inherit;
  }
  
.login-page_showHideButton___XqCS {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    padding: 2px;
  }

.login-page_loginButtons__GSrQV {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-page_loginButtons__GSrQV h3 {
    color: black;
    margin: 10px;
}

.login-page_loginButtons__GSrQV button:last-child {
    margin-top: 0;
}

.login-page_signInButton__3mjW2 {
    width: 100%;
    padding: 20px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    font-size: x-large;
    margin-top: 30px;
}

.login-page_otherOptions__QrHjz h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

