@tailwind base;

/* Firefox */
* {
  scrollbar-width: 2px;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--secondary);
}

@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #F5F7F8;
    --foreground: #001524;
    --background-secondary: #f4f6f7;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --card-column: rgba(226, 232, 240, 0.565);
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: #001524;
    --primary-foreground: #F5F7F8;
 
    --secondary: rgb(85,81,255);
    --secondary-darken:rgb(78, 72, 244);
    --secondary-lighter: rgb(126, 124, 248);
    --secondary-foreground: #F5F7F8;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 20% 95%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }


  }
 
  .dark {
    --background: #0a0f12fd;
    --foreground: #F5F7F8;
    --background-secondary: #031726;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --card-column: rgba(78, 72, 244, 0.37);
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: #F5F7F8;
    --primary-foreground: #001524;
 
    --secondary: rgb(85,81,255);
    --secondary-darken:rgb(78, 72, 244);
    --secondary-lighter: rgb(126, 124, 248);
    --secondary-foreground: #F5F7F8;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

 
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


